body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    /* background: linear-gradient(135deg, #065160, #3E1F47); */
    background: rgb(26,26,63);
    background: linear-gradient(90deg, rgba(26,26,63,0.9697128851540616) 34%, rgba(39,90,100,1) 100%);
}

.container{
    margin-top: 20px;
   
    padding: 20px;
    border: 1px solid #000;
     border-radius: 10px; 
    box-shadow: 0 0 10px #000;
    background-color: #14455200;;
    width: 90%;
    display: flex;
    flex-direction: column; 
    position: relative;
    margin: 0 auto;
    min-width: 300px;
    overflow: auto;
}
.heading{
display: flex;
align-items: center;
justify-content: center;
text-decoration: underline;


width: 85%;
margin: auto; 
}

.container table{
    width:100%;
    text-align: center;
    margin: 0 auto;
    background-color: #fff5;
    border-radius: 25px;
    padding: 25px;   
    box-sizing: border-box;
    box-shadow: 0 0 10px #000;
    
}


#title th{
    
    /* background-color: aqua; */
    border-radius: 10px;
 padding: 15px;
 width: 20%;
  
}
table td{
    padding: 15px;
    
}
.subtitle{
    display: flex;
    /* justify-content: space-between; */
    margin: 10px;
    background-color: #fff2;
    border-radius: 17px;
    padding: 2px; 
    padding-left: 18PX;  
    box-sizing: border-box;
    box-shadow: 0 0 10px #000;
   margin-bottom: 15px;
}
.container table tr{
    /* background-color: #fff2;
    border-radius: 17px;
    padding: 7px; 
    box-sizing: border-box;
    box-shadow: 0 0 10px #000;
    margin-bottom: 15px; */
    
}


@media screen and (minwith: 768px){
    
    
}
